@{
}
    <div class="sidebar-nav">

        <ul class="sidebar-list">
            <li>
                <a class='list-item' href='/Home/Index'>
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li>
                <a class='list-item' href='/Video/Index'>
                    <i class="far fa-play-circle"></i>
                </a>
            </li>
            <li>
                <a class='list-item' href="/Search?SearchQuery=">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a class='list-item' href='/Subscription/Subscribed'>
                    <i class="fas fa-tasks"></i>
                </a>
            </li>
            <li>
                <a class='list-item' href='/Subscription/Subscribers'>
                    <i class="fas fa-bell"></i>
                </a>
            </li>
            <li>
                <a class='list-item' href='/Playlist'>
                    <img class="w-25" src="~/pic/video-playlist.png" />
                </a>
            </li>
            <li>
                <a class='list-item' href='/Account/Upload'>
                    <i class="fas fa-upload"></i>
                </a>
            </li>
            <li>
                <a class='list-item' href='/Subscription'>
                    <img class="img-fluid" src="~/pic/sub.png" />
                </a>
            </li>
            <li>
                <a class='list-item' href='/Identity/Account/Manage/Settings'>
                    <i class="fas fa-user-cog"></i>
                </a>
            </li>
            <li>
        </ul>

    </div>
<style>
    .list-item {
        color: orange;
    }

    .sidebar-list {
        padding: 10px 10px 10px 1px!important;
    }
</style>